<div class="main">
  <h3 (click)="toggleAdditionalInfo(1)" [class.active]="showAdditionalInfo === 1">Информация за мен</h3>
  <div *ngIf="showAdditionalInfo === 1" class="additionalInfo">
   <p>Казвам се Даниел</p>
  </div>

  <h3 (click)="toggleAdditionalInfo(2)" [class.active]="showAdditionalInfo === 2">Моите хобита</h3>
  <div *ngIf="showAdditionalInfo === 2" class="additionalInfo">
    <p>Опитвам се да пиша ФЕ код :P</p>
  </div>

  <h3 (click)="toggleAdditionalInfo(3)" [class.active]="showAdditionalInfo === 3">Любим контент криейтър</h3>
  <div *ngIf="showAdditionalInfo === 3" class="additionalInfo">
    <p>https://www.youtube.com/&#64;NoThxTV</p>
  </div>

  <h3 (click)="toggleAdditionalInfo(4)" [class.active]="showAdditionalInfo === 4">За любимия ми контент ркиейтър</h3>
  <div *ngIf="showAdditionalInfo === 4" class="additionalInfo">
    <p>Играе страшни игри, и това ме кефи</p>
  </div>

  <h3 (click)="toggleAdditionalInfo(5)" [class.active]="showAdditionalInfo === 5">Нз какво трябва да означава остойностяване</h3>
  <div *ngIf="showAdditionalInfo === 5" class="additionalInfo">
    <p>Все още не знам какво значи това :D</p>
  </div>
</div>